DEBUG=True

# Используйте этот ключ для проверки.
SECRET_KEY='django-insecure-)nhqmk_o3u2_6h^h2n_=-ni64eot5+bg6gkmh=f8d-=!nvuk(g'

# Подключение к PostgreSQL
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

# Подключение к Yandex SMTP
EMAIL_HOST_USER='your_email@yandex.ru'
EMAIL_HOST_PASSWORD='your_password_or_app_specific_password'

# Кеширование Redis
CACHE_ENABLED = True
LOCATION = "driver://host:port"