{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4 class="header center black-text text-darken-2">Регистрация</h4>
    <br>
    <div class="row">
        <form method="post" class="col s12 m6 offset-m3" novalidate>
            {% csrf_token %}
            <div class="input-field">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="input-field">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>

            <div class="input-field">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <div class="row center">
                <button type="submit" class="btn green">
                    Зарегистрироваться
                </button>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}
