<footer class="page-footer black">
    <div class="container">
        <div class="row">
                <h5 class="white-text">Навигация</h5>
                <ul>
                    <li><a class="white-text" href="{% url 'mailing:home' %}">Главная</a></li>
                    <li><a class="white-text" href="{% url 'mailing:client_list' %}">Клиенты</a></li>
                    <li><a class="white-text" href="{% url 'mailing:mailing_list' %}">Рассылки</a></li>
                    <li><a class="white-text" href="{% url 'mailing:message_list' %}">Сообщения</a></li>
                    <li><a class="white-text" href="{% url 'mailing:mailing_attempt_list' %}">Отчет</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
    </div>
</footer>